@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-offwhite text-stone-800 antialiased;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
